@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
}

nav {
  background-color: #1a202c; /* Dark gray navbar */
}

footer {
  background-color: #1a202c; /* Dark gray footer */
}

.swiper-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}


.swiper-slide img {
  width: 90%;
  height: auto; /* Garante que as imagens sejam responsivas */
  display: block;
  object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
}

main {
  margin-top: calc(56px + 2rem); /* Espaço dinâmico considerando a altura do navbar */
}

/* celular */
@media (max-width: 768px) {
  nav .container {
    padding: 0 3rem; /* Reduzindo espaçamento no mobile */
    height: 25px;
  }

  nav img {
    max-width: 100px; /* Diminuindo tamanho da logo no mobile */
  }

  main {
    margin-top: calc(36px + 2rem); /* Espaço dinâmico considerando a altura do navbar */
  }

  .swiper-slide img {
    width: 100%;
    height: auto; /* Garante que as imagens sejam responsivas */
    display: block;
    object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
  }

  .swiper-container {
    position: relative;
    overflow: hidden;
    height: 450px;
    margin-bottom: -10px;
  }
  .swiper-container-1 {
    position: relative;
    overflow: hidden;
    height: 450px;
    margin-bottom: -190px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto; /* Garante que as imagens sejam responsivas */
    display: block;
    object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
  }
   .swiper-text{
margin-bottom: 30px;
margin-top: 10px;
   }

}

