@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
}

nav {
  background-color: #1a202c; /* Dark gray navbar */
}

footer {
  background-color: #1a202c; /* Dark gray footer */
}

.swiper-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}


.swiper-slide img {
  width: 90%;
  height: auto; /* Garante que as imagens sejam responsivas */
  display: block;
  object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
}

/* Estilização dos links de serviço */
.service-link {
  color: #1e40af; /* Cor dos links */
  text-decoration: none; /* Remove o sublinhado padrão */
  font-weight: bold; /* Deixa os textos em negrito para maior destaque */
}

.service-link:hover {
  color: #2563eb; /* Cor de destaque ao passar o mouse */
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}


main {
  margin-top: calc(56px + 2rem); /* Espaço dinâmico considerando a altura do navbar */
}

/* celular */
@media (max-width: 768px) {
  nav .container {
    padding: 0 3rem; /* Reduzindo espaçamento no mobile */
    height: 25px;
  }

  nav img {
    max-width: 100px; /* Diminuindo tamanho da logo no mobile */
  }

  main {
    margin-top: calc(36px + 2rem); /* Espaço dinâmico considerando a altura do navbar */
  }

  .swiper-slide img {
    width: 100%;
    height: auto; /* Garante que as imagens sejam responsivas */
    display: block;
    object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
  }

  .swiper-container {
    position: relative;
    overflow: hidden;
    height: 450px;
    margin-bottom: -10px;
  }
  .swiper-container-1 {
    position: relative;
    overflow: hidden;
    height: 450px;
    margin-bottom: -50px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto; /* Garante que as imagens sejam responsivas */
    display: block;
    object-fit: cover; /* Ajusta a imagem ao tamanho do slide */
  }
   .swiper-text{
margin-bottom: 30px;
margin-top: 10px;
   }



}


/* Classe padrão para o tamanho do RizonBot */
.rizonbot-size {
  width: 8rem; /* 48px */
  height: 8rem; /* 48px */
}

/* Redução de tamanho para telas de PC */
@media (max-width: 1280px) {
  .rizonbot-size {
    width: 7rem; /* 20% menor */
    height: auto; /* Ajuste para telas pequenas */
    margin-right: -20px;
    opacity: 90%;
  }
  .button-high{
    margin-bottom: -40px;
    margin-right: -20px;
    width: 0.1rem;
    height: 0.1rem;
    
    }
}

@media (max-width: 1024px) {
  .rizonbot-size {
    width: 5rem; /* 20% menor */
    height: auto; /* Ajuste para telas pequenas */
    margin-right: -20px;
    opacity: 90%;
  }
  .button-high{
    margin-bottom: -70px;
    margin-right: -35px;
    width: 0.1rem;
    height: 0.1rem;
    
    }
}

/* Redução de tamanho para celulares */
@media (max-width: 768px) {
  .rizonbot-size {
    width: 5.2rem; /* Ajuste para telas pequenas */
    height: auto; /* Ajuste para telas pequenas */
    margin-right: -22px;
    opacity: 90%;
  }

.button-high{
  margin-bottom: -80px;
  margin-right: -40px;
  width: 0.6rem;
  height: 0.6rem;
  
  }
}

/* Animação para as divs */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.service-card {
  animation: fadeInUp 0.8s ease-out;
}

/* Alterações adicionais para interatividade */
.service-card:hover {
  background-color: #2563eb; /* Azul mais escuro ao passar o mouse */
}

/* Garante que o swiper ocupe toda a tela */
.swiper {
  width: 100%;
  height: 100vh; /* Ocupa toda a altura da tela */
}

/* Estilo para as imagens do swiper */
.swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 50%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
